<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/home']">
      <img
        src="/assets/images/FeastFinder.svg"
        alt="Logo"
        width="70"
        height="70"
        class="d-inline-block align-text-top"
      />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <ng-container *ngIf="!isLoggedIn(); else loggedOut">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']">Sign in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/register']">Create Account</a>
          </li>
        </ng-container>

        <ng-template #loggedOut>
          <li class="nav-item">
            <button class="btn nav-link" (click)="onLogout()">Log out</button>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
