<div
  class="container mt-4 d-flex justify-content-center align-items-center column"
  style="flex-direction: column"
>
  <div class="col-md-6">
    <input
      type="text"
      class="form-control"
      placeholder="Search recipes..."
      [(ngModel)]="searchQuery"
      (keyup.enter)="searchRecipes()"
    />
  </div>
  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Select Health Label
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li *ngFor="let healthLabel of healthLabels">
        <a class="dropdown-item">
          <input
            type="checkbox"
            [checked]="selectedFilters.has(healthLabel.value)"
            (change)="
              onHealthLabelChange(
                healthLabel.value,
                $any($event.target)?.checked
              )
            "
          />
          {{ healthLabel.label }}
        </a>
      </li>
    </ul>
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton2"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Select Meal Type
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
        <li *ngFor="let mealType of mealTypes">
          <a class="dropdown-item">
            <input
              type="checkbox"
              [checked]="selectedMealTypes.has(mealType.value)"
              (change)="
                onMealTypeChange(mealType.value, $any($event.target)?.checked)
              "
            />
            {{ mealType.label }}
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3" *ngFor="let item of searchResults">
      <section class="mx-auto my-5" style="max-width: 23rem">
        <div class="card shadow mb-5 bg-white rounded">
          <div class="bg-image" data-mdb-ripple-color="light">
            <img
              [src]="item.recipe.image"
              class="img-fluid w-100"
              alt="{{ item.recipe.label }}"
              style="border-radius: 7px 7px 0 0"
            />
          </div>
          <div class="card-body" style="padding: 20px !important">
            <h5 class="card-title font-weight-bold">
              {{ item.recipe.label }}
            </h5>
            <p class="mb-2">
              {{ item.recipe.cuisineType?.join(", ") | uppercase }}
            </p>

            <p class="card-text health-text">
              Health: {{ item.recipe.healthLabels?.join(", ") || "General" }}
            </p>

            <hr class="my-4" />
            <div class="d-flex">
              <a
                href="{{ item.recipe.url }}"
                class="btn btn-primary mx-auto d-flex"
                style="background-color: #56d05b; border: none"
                target="_blank"
                >View Recipe</a
              >
            </div>
            <button
              (click)="viewRecipeDetail(item.recipe.uri)"
              class="btn btn-success mx-auto d-flex"
            >
              Ingredients
            </button>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
