<!-- Using Bootstrap's classes for styling -->
<div class="container-fluid px-0 overflow-hidden">
  <div class="position-relative text-center text-white bg-dark">
    <img
      src="assets/images/food.jpeg"
      alt="Picture of food"
      class="image-background"
      style="height: 50vh"
    />
    <h1 class="position-absolute top-50 start-50 translate-middle welcome-text">
      Welcome to FeastFinder!
    </h1>
  </div>
</div>

<div class="container py-4">
  <app-recipe-search></app-recipe-search>
</div>
