/* You can add global styles to this file, and also import other style files */

.card {
  --bs-card-border-width: 0; /* Remove the border */
  border: none !important; /* Ensures the border is removed if --bs-card-border-width doesn't cover it */
  padding: 0;
}
