<div class="row">
  <div class="col-md-3" *ngFor="let item of recipes">
    <section class="mx-auto my-5" style="max-width: 23rem">
      <div class="card shadow mb-5 bg-white rounded">
        <div class="bg-image" data-mdb-ripple-color="light">
          <!-- Dynamically setting the recipe image -->
          <img
            [src]="item.recipe.image"
            class="img-fluid w-100"
            alt="{{ item.recipe.label }}"
            style="border-radius: 7px 7px 0 0"
          />
        </div>
        <div class="card-body" style="padding: 20px !important">
          <h5 class="card-title font-weight-bold">{{ item.recipe.label }}</h5>
          <p class="mb-2">
            {{ item.recipe.cuisineType?.join(", ") | uppercase }}
          </p>

          <p class="card-text health-text">
            Health: {{ item.recipe.healthLabels?.join(", ") || "General" }}
          </p>

          <hr class="my-4" />
          <div class="d-flex">
            <button
              (click)="viewRecipeDetail(item.recipe.uri)"
              class="btn btn-success mx-auto d-flex"
            >
              View recipe
            </button>
            <button
              *ngIf="isLoggedIn()"
              (click)="addRecipe(item.recipe)"
              class="btn btn-primary mx-auto d-flex"
              style="background-color: #56d05b; border: none"
            >
              + Recipes
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
