.health-text {
  height: 3em; /* Adjust based on your content and font size */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Add ellipsis if text overflows */
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Show only 2 lines of text */
  -webkit-box-orient: vertical;
}

.card-title {
  white-space: nowrap; /* Keeps the text on a single line */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Display an ellipsis for truncated text */
}
